@page
@model CreateOrderModel
@{
    ViewData["Title"] = "Create Order";
}


<div>
    <h1 class="display-4 mb-4">Оформление заказа</h1>
    @await Component.InvokeAsync("OrderItems", ViewData["NewOrderNumber"])

    <h1>@Model.Message</h1>
</div>

@section Scripts
{  
    <script src="~/js/selectController.js"></script>

}
